* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background: #f5f4f4;
}

h1 {
  width: 960px;
  margin: 40px;
}

form {
  width: 960px;
  margin: 20px 40px;
}

fieldset {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

fieldset legend {
  font-size: 24px;
  font-weight: 600;
}

label {
  font-size: 18px;
  font-family: poppins;
  font-weight: 300;
}
label input {
  margin-right: 5px;
}

button {
  background: #16c79a;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  width: 140px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}

img {
  width: 650px;
  margin-top: 40px;
}

@media (min-width: 300px) and (max-width: 700px) {
  h1 {
    width: 90vw;
    font-size: 26px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

  form {
    width: 90vw;
    margin: 0 auto;
    padding: 10px;
  }

  fieldset {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  fieldset legend {
    font-size: 18px;
    font-weight: 600;
  }

  label {
    font-size: 18px;
    font-family: poppins;
    font-weight: 300;
  }
  label input {
    margin-right: 5px;
  }

  button {
    background: #16c79a;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    width: 140px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
  }

  img {
    max-width: 90vw;
    width: 650px;
    margin-top: 40px;
  }
}
